<% include ./partials/header %>

<div class="ui center aligned basic segment">
    
    <div class="ui horizontal divider">Bookabulary</div>

    <button class="ui secondary button" href="/index">List all books</button>
    
    <button class="ui secondary button">Add a new book</button>

 </div>

</div>




<% include ./partials/footer %>